.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages-container {
    width: 80%;
}

#chat-container {
    display: flex;
    flex-direction: column;
    min-height: 25vw;
    border: 2px black solid;
}

#options-container form {
    display: flex;
    flex-direction: row;
}

.message {
    padding: 1rem;
    border-radius: 2rem;
}

.their-message {
    background-color: grey;
    text-align: left;

}

.your-message {
    background-color: lightgreen;
    text-align: right;
}